<div id="overlay-region"></div>

<div id="scrollbar-region"></div>

<header id="header-region"></header>

<footer id="footer-region"></footer>

<section id="content-region"></section>

<div id="background-region"></div>

<script type="text/javascript">

  $(document).ready(function() {
    DotDot.start()
  })

</script>