<!DOCTYPE html>
<html>
  <head>
    <title>Backbone.Sails Examples</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/lodash.js"></script>
    <script src="/js/dependencies/json2.js"></script>
    <script src="/js/dependencies/waterline-criteria.js"></script>
    <script src="/js/dependencies/backbone.js"></script>
    <script src="/js/backbone.js"></script>
    <script src="/js/examples/dependencies/backbone.babysitter.js"></script>
    <script src="/js/examples/dependencies/backbone.marionette.js"></script>
    <script src="/js/examples/dependencies/backbone.wreqr.js"></script>
    <script src="/js/examples/dependencies/config/marionette.js"></script>
    <script src="/js/examples/ExamplesApp.js"></script>
    <script src="/js/examples/apps/chatclient/chatclient_app.js"></script>
    <script src="/js/examples/apps/chatclient/entities/current.js"></script>
    <script src="/js/examples/apps/chatclient/entities/message.js"></script>
    <script src="/js/examples/apps/chatclient/entities/user.js"></script>
    <script src="/js/examples/apps/chatclient/messages/common/layout_view.js"></script>
    <script src="/js/examples/apps/chatclient/messages/create/create_controller.js"></script>
    <script src="/js/examples/apps/chatclient/messages/create/create_view.js"></script>
    <script src="/js/examples/apps/chatclient/messages/list/list_controller.js"></script>
    <script src="/js/examples/apps/chatclient/messages/list/list_view.js"></script>
    <script src="/js/examples/apps/chatclient/messages/messages_controller.js"></script>
    <script src="/js/examples/apps/chatclient/users/create/create_controller.js"></script>
    <script src="/js/examples/apps/chatclient/users/create/create_view.js"></script>
    <script src="/js/dependencies/bluebird.js"></script>
    <!--SCRIPTS END-->

    <%- body %>

  </body>
</html>
