<!DOCTYPE html>
<html>
<head>
  <title>Dot-Dot Tests</title>

  <!--TEST STYLES-->
  <link rel="stylesheet" href="/tests/jasmine/jasmine.css">
  <!--TEST STYLES END-->
</head>

<body>

<!--TEMPLATES-->

<!--TEMPLATES END-->

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/lodash.js"></script>
<script src="/js/dependencies/backbone.js"></script>
<script src="/js/dependencies/json2.js"></script>
<script src="/js/backbone.js"></script>
<script src="/js/usage.js"></script>
<!--SCRIPTS END-->

<!--TESTS-->
<script src="/tests/jasmine/jasmine.js"></script>
<script src="/tests/jasmine/jasmine-html.js"></script>
<script src="/tests/jasmine/console.js"></script>
<script src="/tests/jasmine/boot.js"></script>
<script src="/tests/backbone.js"></script>
<!--TESTS END-->

<%- body %>

</body>
</html>
